{% extends "base.html" %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Category Posts</title>
</head>
<body>
    <div class="container mt-5">
        <i><h1>{{cats}}</h1></i>
        <div class="row">
            {% for post in category_posts %}
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'article-details' post.pk %}" class="text-decoration-none">{{ post.title }}</a>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ post.author.email }}</h6>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No posts were found in this category</p>
            {% endfor %}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>


{% endblock %}