{% extends "base.html" %}
{% block content %}

<div class="card">
  <div class="card-body">
      <h5 class="card-title">
          <a href="{% url 'writer-posts' writer_id=post.author.profile.user.id %}">
              {{ post.author.profile.user }}
          </a>
      </h5>
      <!-- Image with round shape and positioned to the right -->
       {% if post.author.profile.profile_image %}
      <img src="{{ post.author.profile.profile_image.url }}" alt="{{ post.author.profile.user }}" class="img-fluid" height="150" width="150" style="border-radius: 50%; float: right; margin: 10px;">
      {%endif%}
      {% if post.author.profile.bio %}
      <p class="card-text">{{ post.author.profile.bio }}</p>
      {%endif%}
  </div>
</div>

<div class="container mt-4">
    <h1>{{ object.title }}</h1><br/>
    <h3><a href="{% url 'categories' cats=object.categories %}">{{ object.categories }}</a></h3>
    {% if post.header_image %}
    <img src="{{post.header_image.url}}" alt="Header Image">
    {% endif %}
    <p>{{ object.body|safe }}</p>
</div>

{% if user.is_authenticated %}
    <form action="{% url 'like-post' object.id %}" method="post">
        {% csrf_token %}
        {% if liked %}
            <button type="submit" name="post_id" value="{{ object.id }}" class="btn btn-secondary">Dislike</button>
        {% else %}
            <button type="submit" name="post_id" value="{{ object.id }}" class="btn btn-primary">Like</button>
        {% endif %}
    </form>
    <h6>{{ total_likes }} people liked this</h6>
    <h6><a href="{% url 'delete-post' object.id %}" class="btn btn-danger">Delete</a></h6>
    <h6><a href="{% url 'edit-post' object.id %}" class="btn btn-warning">Edit</a></h6>
   
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Comments</h1>
        <a href="{% url 'add-comment' post.pk %}" class="btn btn-primary">Add now</a>
    </div>

    {% if not post.comments.exists %}
        <div class="alert alert-info" role="alert">
            <strong>NO comments yet.</strong>
        </div>
    {% else %}
        <div class="list-group">
            {% for comment in post.comments.all %}
                <div class="list-group-item list-group-item-action flex-column align-items-start mb-3">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">
                            <a href="{% url 'writer-posts' comment.author.pk %}" class="text-decoration-secondary">
                                {{ comment.author.username }}
                            </a>
                        </h5>
                        <small>{{ comment.created_at|date:"F j, Y, g:i a" }}</small>
                    </div>
                    <p class="mb-1">{{ comment.body }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>



    {%endif%}
    
  
    

{% endblock %}
