{% extends "base.html" %}

{% block content %}
<form method="POST" action="{% url 'weatherq' %}">
    {% csrf_token %}
    <input type="text" placeholder="Enter your city" name="city"/>
    <button type="submit">Enter</button>
</form>
<div class="container mt-5">
    <h1 class="text-center">Weather Data</h1>
    <ul class="list-group">
        {% for data in weather_data %}
            <li class="list-group-item">
                <strong>{{ data.name }}</strong>: 
                {{ data.weather.0.description }}, 
                {{ data.main.temp}}°C,
                <img src="ttp://openweathermap.org/img/wn/{{ data.weather.0.icon }}@2x.png" alt="Weather Icon" class="ml-auto">
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
h